@{
    ViewData["Title"] = "Home Page";

    string name = "Sude";
    string surname = "Akarcay";
}

<div class="text-center">
    <h1 class="display-4">Welcome @name @surname</h1>
    <p>My First MVC Web Application</p>
</div>
